* {
    margin: 0;
    padding: 0; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D9C5FE;
}

.weather {
    background-color: rgb(133, 67, 133);
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1rem;
    height: 57vh;
    width: 40vh;
}

h1 {
    text-align: center;
}

.search-bar input {
   font-family: 'Outfit', sans-serif;
   outline: none;
   width: 85%;
   padding: 10px;
   padding-left: 0.5rem;
   border-radius: 1rem;
   border-style: none;
   font-size: 1rem;
}

.data {
    margin: 2rem 0 2rem 0;
}
button {
    background-color: #D9C5FE;
    border-style: none;
    font-size: 1.35rem;
    cursor: pointer;
    border-radius: 1rem;
}
button i {
    padding: 9px;
}
.details {
    justify-content: center;
    display: flex;
    gap: 80px;
    margin-top: 1rem;
    margin: 1rem;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -20px;
}

.location {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.temperature {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.weather-icon {
    margin-top: -15px;
    height: 126px;
    width: 126px;
    align-self: center;
    aspect-ratio: 1 / 1;
}
.fas fa-water {
    height: 100px;
}

.description {
    margin-top: 20px;
    font-size: 1.8rem;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.para {
    font-size: 1.2rem;
}

@media (max-width: 550px) {
    .weather {
        width: 73%;
        flex-wrap: wrap;
        text-wrap: wrap;
        height: 57vh;
    }
    .data {
        height: 30px;
    }
    .description {
        margin-top: 60px;
        margin: 10px;
        font-size: 28px;
    }
    .details {
        margin-top: -50px;
        margin: 15px;
        gap: 58px;
    }
    .weather-icon {
        padding-top: 20px;
        height: auto;
        width: 120px;
    }
    .search-bar input {
        width: 80%;
    }
    .temperature {
        font-size: 3rem;
    }
    .location {
        margin-bottom: 12px;
    }
}   
